In [1]:
import pandas as pd
import numpy as np

1) Задание: загрузить данные из файлов (приложены к письму):
* excel-comp-data.xlsx
* sp500hst.txt

2) Загрузить данные из файла sp500hst.txt, обозначить столбцы (в соответствии с содержимым). \

In [2]:
dataframe = pd.read_csv("./data/sp500hst.txt", delimiter=",", names=["Date", "Ticker", "Open", "High", "Low", "Close", "Volume"])

dataframe

            Date Ticker   Open     High     Low  Close  Volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

3.1) Создать столбец со значеними средними, между значением дневного минимума и максимума.

In [3]:
dataframe["Date_normal"] = pd.to_datetime(dataframe["Date"].astype(str), format="%Y%m%d")

In [4]:
dataframe["Daily_Mean"] = dataframe[["High", "Low"]].mean(axis=1)

In [5]:
dataframe

,Date,Ticker,Open,High,Low,Close,Volume,Date_normal,Daily_Mean
0,20090821,A,25.60,25.6100,25.220,25.55,34758,2009-08-21,25.41500
1,20090824,A,25.64,25.7400,25.330,25.50,22247,2009-08-24,25.53500
2,20090825,A,25.50,25.7000,25.225,25.34,30891,2009-08-25,25.46250
3,20090826,A,25.32,25.6425,25.145,25.48,33334,2009-08-26,25.39375
4,20090827,A,25.50,25.5700,25.230,25.54,70176,2009-08-27,25.40000
...,...,...,...,...,...,...,...,...,...
122569,20100813,ZMH,51.72,51.9000,51.380,51.44,14561,2010-08-13,51.64000
122570,20100816,ZMH,51.13,51.4700,50.600,51.00,13489,2010-08-16,51.03500
122571,20100817,ZMH,51.14,51.6000,50.890,51.21,20498,2010-08-17,51.24500
122572,20100819,ZMH,51.63,51.6300,50.170,50.22,18259,2010-08-19,50.90000
122573,20100820,ZMH,50.03,50.5500,49.480,49.82,17792,2010-08-20,50.01500

3.2) Рассчитать среднее значение показателей для каждого из столбцов 3-6.

In [6]:
open_mean = dataframe["Open"].mean()
print(open_mean)
high_mean = dataframe["High"].mean()
print(high_mean)
low_mean = dataframe["Low"].mean()
print(low_mean)
close_mean = dataframe["Close"].mean()
print(close_mean)

42.59545765904678
43.102243387667855
42.05446366521448
42.60186484817335

4.1) Создать DataFrame состоящий из строк относящихся только к 13 августа 2010 года.

In [7]:
#new_dataframe = dataframe.where(dataframe["Date_normal"] == "2010-08-13", other=None)

#new_dataframe

new_dataframe = dataframe[dataframe["Date_normal"]  == "2010-08-13"]

new_dataframe

,Date,Ticker,Open,High,Low,Close,Volume,Date_normal,Daily_Mean
240,20100813,A,27.39,27.8500,27.300,27.35,24469,2010-08-13,27.57500
485,20100813,AA,10.70,10.7900,10.575,10.64,154397,2010-08-13,10.68250
726,20100813,AAPL,251.03,251.8800,249.090,249.10,126738,2010-08-13,250.48500
971,20100813,ABC,29.01,29.1300,28.690,29.04,16196,2010-08-13,28.91000
1216,20100813,ABT,50.13,50.2600,49.910,50.06,50879,2010-08-13,50.08500
...,...,...,...,...,...,...,...,...,...
121385,20100813,XRX,9.05,9.2200,8.980,9.01,89064,2010-08-13,9.10000
121835,20100813,YHOO,13.82,13.9550,13.760,13.83,78455,2010-08-13,13.85750
122080,20100813,YUM,40.80,41.0399,40.620,40.85,20055,2010-08-13,40.82995
122324,20100813,ZION,20.17,20.4300,19.840,19.89,25193,2010-08-13,20.13500
122569,20100813,ZMH,51.72,51.9000,51.380,51.44,14561,2010-08-13,51.64000

4.1.2) Из DataFrame, созданного в 4.1, cоздать серию из 30 первых имен

In [8]:
names_series = pd.Series(new_dataframe["Ticker"][:30])

print(names_series)

240        A
485       AA
726     AAPL
971      ABC
1216     ABT
1273     ACE
1626    ADBE
1871     ADI
2116     ADM
2359     ADP
2601    ADSK
2846     AEE
3091     AEP
3336     AES
3581     AET
3826     AFL
4071     AGN
4316     AIG
4561     AIV
4806     AIZ
5049    AKAM
5294     AKS
5539     ALL
5782    ALTR
6025    AMAT
6270     AMD
6514    AMGN
6758     AMP
7003     AMT
7246    AMZN
Name: Ticker, dtype: object

4.2) Из DataFrame, созданного в 4.1, создать новый DataFrame индексом в котором являются имена тикеров.

In [9]:
new_new_dataframe = new_dataframe.set_index(new_dataframe["Ticker"])

new_new_dataframe

,Date,Ticker,Open,High,Low,Close,Volume,Date_normal,Daily_Mean
Ticker,,,,,,,,,
A,20100813,A,27.39,27.8500,27.300,27.35,24469,2010-08-13,27.57500
AA,20100813,AA,10.70,10.7900,10.575,10.64,154397,2010-08-13,10.68250
AAPL,20100813,AAPL,251.03,251.8800,249.090,249.10,126738,2010-08-13,250.48500
ABC,20100813,ABC,29.01,29.1300,28.690,29.04,16196,2010-08-13,28.91000
ABT,20100813,ABT,50.13,50.2600,49.910,50.06,50879,2010-08-13,50.08500
...,...,...,...,...,...,...,...,...,...
XRX,20100813,XRX,9.05,9.2200,8.980,9.01,89064,2010-08-13,9.10000
YHOO,20100813,YHOO,13.82,13.9550,13.760,13.83,78455,2010-08-13,13.85750
YUM,20100813,YUM,40.80,41.0399,40.620,40.85,20055,2010-08-13,40.82995
ZION,20100813,ZION,20.17,20.4300,19.840,19.89,25193,2010-08-13,20.13500
ZMH,20100813,ZMH,51.72,51.9000,51.380,51.44,14561,2010-08-13,51.64000

4.3) Создать DataFrame состоящий из строк относящихся только тикеру ALTR.

In [10]:
ALTR_dataframe = dataframe[dataframe["Ticker"] == "ALTR"]

In [11]:
ALTR_dataframe

,Date,Ticker,Open,High,Low,Close,Volume,Date_normal,Daily_Mean
5544,20090821,ALTR,19.36,19.50,19.15,19.48,54580,2009-08-21,19.325
5545,20090824,ALTR,19.51,19.72,19.04,19.13,42059,2009-08-24,19.380
5546,20090825,ALTR,19.13,19.39,18.95,19.05,48539,2009-08-25,19.170
5547,20090826,ALTR,19.11,19.41,18.99,19.28,42058,2009-08-26,19.200
5548,20090827,ALTR,19.23,19.32,18.88,19.08,63271,2009-08-27,19.100
...,...,...,...,...,...,...,...,...,...
5782,20100813,ALTR,25.30,25.50,24.94,24.94,69416,2010-08-13,25.220
5783,20100816,ALTR,24.82,25.31,24.53,25.11,60276,2010-08-16,24.920
5784,20100817,ALTR,25.22,25.88,25.04,25.54,89329,2010-08-17,25.460
5785,20100819,ALTR,25.61,25.96,25.24,25.50,61815,2010-08-19,25.600
5786,20100820,ALTR,25.44,25.83,25.32,25.60,54383,2010-08-20,25.575

4.4) Из DataFrame, созданного в 4.3, создать DataFrame индексом в котором являются даты.

In [12]:
ALTR_dataframe.set_index(ALTR_dataframe["Date_normal"])

,Date,Ticker,Open,High,Low,Close,Volume,Date_normal,Daily_Mean
Date_normal,,,,,,,,,
2009-08-21,20090821,ALTR,19.36,19.50,19.15,19.48,54580,2009-08-21,19.325
2009-08-24,20090824,ALTR,19.51,19.72,19.04,19.13,42059,2009-08-24,19.380
2009-08-25,20090825,ALTR,19.13,19.39,18.95,19.05,48539,2009-08-25,19.170
2009-08-26,20090826,ALTR,19.11,19.41,18.99,19.28,42058,2009-08-26,19.200
2009-08-27,20090827,ALTR,19.23,19.32,18.88,19.08,63271,2009-08-27,19.100
...,...,...,...,...,...,...,...,...,...
2010-08-13,20100813,ALTR,25.30,25.50,24.94,24.94,69416,2010-08-13,25.220
2010-08-16,20100816,ALTR,24.82,25.31,24.53,25.11,60276,2010-08-16,24.920
2010-08-17,20100817,ALTR,25.22,25.88,25.04,25.54,89329,2010-08-17,25.460
2010-08-19,20100819,ALTR,25.61,25.96,25.24,25.50,61815,2010-08-19,25.600
2010-08-20,20100820,ALTR,25.44,25.83,25.32,25.60,54383,2010-08-20,25.575

4.5) В DataFrame, созданном в 4.3, добавить столбец, содержащий только число месяца, к которому относится дата.

In [13]:
ALTR_dataframe["Month_date"] = ALTR_dataframe["Date_normal"].dt.month

ALTR_dataframe

/tmp/ipykernel_459516/1924313722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ALTR_dataframe["Month_date"] = ALTR_dataframe["Date_normal"].dt.month

,Date,Ticker,Open,High,Low,Close,Volume,Date_normal,Daily_Mean,Month_date
5544,20090821,ALTR,19.36,19.50,19.15,19.48,54580,2009-08-21,19.325,8
5545,20090824,ALTR,19.51,19.72,19.04,19.13,42059,2009-08-24,19.380,8
5546,20090825,ALTR,19.13,19.39,18.95,19.05,48539,2009-08-25,19.170,8
5547,20090826,ALTR,19.11,19.41,18.99,19.28,42058,2009-08-26,19.200,8
5548,20090827,ALTR,19.23,19.32,18.88,19.08,63271,2009-08-27,19.100,8
...,...,...,...,...,...,...,...,...,...,...
5782,20100813,ALTR,25.30,25.50,24.94,24.94,69416,2010-08-13,25.220,8
5783,20100816,ALTR,24.82,25.31,24.53,25.11,60276,2010-08-16,24.920,8
5784,20100817,ALTR,25.22,25.88,25.04,25.54,89329,2010-08-17,25.460,8
5785,20100819,ALTR,25.61,25.96,25.24,25.50,61815,2010-08-19,25.600,8
5786,20100820,ALTR,25.44,25.83,25.32,25.60,54383,2010-08-20,25.575,8

4.5.1) Создать DataFrame состоящий из строк относящихся только тикеру WAT и объединить его с DataFrame для ALTR.

In [14]:
WAT_dataframe = dataframe[dataframe["Ticker"] == "WAT"]

WAT_ALTR_dataframe = pd.merge(left=ALTR_dataframe, right=WAT_dataframe, left_on="Date", right_on="Date")

WAT_ALTR_dataframe

,Date,Ticker_x,Open_x,High_x,Low_x,Close_x,Volume_x,Date_normal_x,Daily_Mean_x,Month_date,Ticker_y,Open_y,High_y,Low_y,Close_y,Volume_y,Date_normal_y,Daily_Mean_y
0,20090821,ALTR,19.36,19.50,19.15,19.48,54580,2009-08-21,19.325,8,WAT,50.77,52.144,50.33,51.80,9785,2009-08-21,51.237
1,20090824,ALTR,19.51,19.72,19.04,19.13,42059,2009-08-24,19.380,8,WAT,52.02,52.020,51.38,51.48,5866,2009-08-24,51.700
2,20090825,ALTR,19.13,19.39,18.95,19.05,48539,2009-08-25,19.170,8,WAT,51.61,52.740,51.50,52.23,9567,2009-08-25,52.120
3,20090826,ALTR,19.11,19.41,18.99,19.28,42058,2009-08-26,19.200,8,WAT,51.94,52.860,51.93,52.17,4202,2009-08-26,52.395
4,20090827,ALTR,19.23,19.32,18.88,19.08,63271,2009-08-27,19.100,8,WAT,52.09,52.220,51.33,51.73,6473,2009-08-27,51.775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,20100813,ALTR,25.30,25.50,24.94,24.94,69416,2010-08-13,25.220,8,WAT,62.84,63.320,62.35,62.39,11458,2010-08-13,62.835
239,20100816,ALTR,24.82,25.31,24.53,25.11,60276,2010-08-16,24.920,8,WAT,62.00,62.360,61.46,61.95,12828,2010-08-16,61.910
240,20100817,ALTR,25.22,25.88,25.04,25.54,89329,2010-08-17,25.460,8,WAT,62.74,64.790,62.56,64.43,9557,2010-08-17,63.675
241,20100819,ALTR,25.61,25.96,25.24,25.50,61815,2010-08-19,25.600,8,WAT,64.10,64.380,62.43,62.53,8350,2010-08-19,63.405
242,20100820,ALTR,25.44,25.83,25.32,25.60,54383,2010-08-20,25.575,8,WAT,61.99,62.730,61.44,62.68,9270,2010-08-20,62.085

4.5.2) Создать DataFrame в котором присутствует столбец, отражающий разницу в объемах торгов по WAT и ALTR в одинаковые дни и содержит исходные данны об объеме трогов этими акциями.

In [15]:
#Volume_dataframe = dataframe[(dataframe["Ticker"] == "ALTR") + (dataframe["Ticker"] == "WAT")]

Volume_dataframe = WAT_ALTR_dataframe

Volume_dataframe["Volume_diff"] = Volume_dataframe["Volume_x"] - Volume_dataframe["Volume_y"]

Volume_dataframe[["Ticker_x", "Ticker_y", "Date_normal_x", "Volume_x", "Volume_y", "Volume_diff"]]

    Ticker_x Ticker_y Date_normal_x  Volume_x  Volume_y  Volume_diff
0       ALTR      WAT    2009-08-21     54580      9785        44795
1       ALTR      WAT    2009-08-24     42059      5866        36193
2       ALTR      WAT    2009-08-25     48539      9567        38972
3       ALTR      WAT    2009-08-26     42058      4202        37856
4       ALTR      WAT    2009-08-27     63271      6473        56798
..       ...      ...           ...       ...       ...          ...
238     ALTR      WAT    2010-08-13     69416     11458        57958
239     ALTR      WAT    2010-08-16     60276     12828        47448
240     ALTR      WAT    2010-08-17     89329      9557        79772
241     ALTR      WAT    2010-08-19     61815      8350        53465
242     ALTR      WAT    2010-08-20     54383      9270        45113

[243 rows x 6 columns]

4.6) В DataFrame добавить столбец, содержащий только число месяца, к которому относится дата.

In [16]:
dataframe["Month_date"] = dataframe["Date_normal"].dt.month

dataframe

,Date,Ticker,Open,High,Low,Close,Volume,Date_normal,Daily_Mean,Month_date
0,20090821,A,25.60,25.6100,25.220,25.55,34758,2009-08-21,25.41500,8
1,20090824,A,25.64,25.7400,25.330,25.50,22247,2009-08-24,25.53500,8
2,20090825,A,25.50,25.7000,25.225,25.34,30891,2009-08-25,25.46250,8
3,20090826,A,25.32,25.6425,25.145,25.48,33334,2009-08-26,25.39375,8
4,20090827,A,25.50,25.5700,25.230,25.54,70176,2009-08-27,25.40000,8
...,...,...,...,...,...,...,...,...,...,...
122569,20100813,ZMH,51.72,51.9000,51.380,51.44,14561,2010-08-13,51.64000,8
122570,20100816,ZMH,51.13,51.4700,50.600,51.00,13489,2010-08-16,51.03500,8
122571,20100817,ZMH,51.14,51.6000,50.890,51.21,20498,2010-08-17,51.24500,8
122572,20100819,ZMH,51.63,51.6300,50.170,50.22,18259,2010-08-19,50.90000,8
122573,20100820,ZMH,50.03,50.5500,49.480,49.82,17792,2010-08-20,50.01500,8

4.7) Из DataFrame выбрать только строки, относящиеся к 13 числу месяца.

In [17]:
dataframe["Day_date"] = dataframe["Date_normal"].dt.day

dataframe[dataframe["Day_date"] == 13]

,Date,Ticker,Open,High,Low,Close,Volume,Date_normal,Daily_Mean,Month_date,Day_date
35,20091013,A,27.41,27.53,27.150,27.29,14226,2009-10-13,27.340,10,13
53,20091113,A,27.97,28.89,27.750,28.61,62633,2009-11-13,28.320,11,13
93,20100113,A,30.47,30.78,30.050,30.69,24455,2010-01-13,30.415,1,13
154,20100413,A,34.15,34.23,33.880,33.90,25868,2010-04-13,34.055,4,13
176,20100513,A,34.83,35.29,34.430,34.78,43992,2010-05-13,34.860,5,13
...,...,...,...,...,...,...,...,...,...,...,...
122422,20100113,ZMH,62.26,62.79,61.732,62.55,7663,2010-01-13,62.261,1,13
122483,20100413,ZMH,59.27,60.15,59.060,60.09,13177,2010-04-13,59.605,4,13
122505,20100513,ZMH,60.97,61.20,60.650,60.65,10647,2010-05-13,60.925,5,13
122546,20100713,ZMH,56.38,57.57,56.380,56.92,21035,2010-07-13,56.975,7,13
122569,20100813,ZMH,51.72,51.90,51.380,51.44,14561,2010-08-13,51.640,8,13

4) Выявить столбцы содержащие минимальные и максимальные значения (если такие столбцы есть). ( , столбец с минимальным значением курса акций.)

In [35]:

dataframe.describe()

,Date,Open,High,Low,Close,Volume,Daily_Mean,Month_date,Day_date
count,1.225740e+05,122574.000000,122574.000000,122574.000000,122574.000000,1.225740e+05,122574.000000,122574.000000,122574.000000
mean,2.009715e+07,42.595458,43.102243,42.054464,42.601865,8.139507e+04,42.578354,6.487640,15.694519
std,4.496405e+03,42.909787,43.378185,42.397805,42.900199,3.423884e+05,42.885455,3.417996,8.624995
min,2.009082e+07,1.360000,1.390000,1.000000,1.350000,4.700000e+01,1.365000,1.000000,1.000000
25%,2.009112e+07,21.810000,22.100000,21.500000,21.810000,1.661150e+04,21.800000,4.000000,9.000000
50%,2.010022e+07,35.130000,35.540000,34.690000,35.130000,3.303500e+04,35.120000,6.000000,16.000000
75%,2.010052e+07,51.840000,52.450000,51.230000,51.870000,6.775600e+04,51.840000,9.000000,23.000000
max,2.010082e+07,627.840000,629.510000,624.240000,626.750000,2.147484e+07,626.875000,12.000000,31.000000

5) По данным из 'sp500hst.txt' при помощи Pandas расчитать максимальные значения в 3-6 столбца для дат после 20100801

In [19]:
max_match = dataframe[dataframe["Date_normal"] > "2010-08-01"].max()

max_match[["Open", "High", "Low", "Close"]]

Open      505.85
High       508.6
Low      503.559
Close      508.1
dtype: object

In [20]:
dataframe[dataframe["Date_normal"] > "2010-08-01"]

,Date,Ticker,Open,High,Low,Close,Volume,Date_normal,Daily_Mean,Month_date,Day_date
231,20100802,A,28.35,28.97,28.20,28.82,28989,2010-08-02,28.585,8,2
232,20100803,A,28.70,28.73,27.80,27.84,42401,2010-08-03,28.265,8,3
233,20100804,A,27.86,28.35,27.75,28.29,23525,2010-08-04,28.050,8,4
234,20100805,A,28.03,28.63,27.96,28.46,20682,2010-08-05,28.295,8,5
235,20100806,A,28.18,28.75,28.07,28.73,33777,2010-08-06,28.410,8,6
...,...,...,...,...,...,...,...,...,...,...,...
122569,20100813,ZMH,51.72,51.90,51.38,51.44,14561,2010-08-13,51.640,8,13
122570,20100816,ZMH,51.13,51.47,50.60,51.00,13489,2010-08-16,51.035,8,16
122571,20100817,ZMH,51.14,51.60,50.89,51.21,20498,2010-08-17,51.245,8,17
122572,20100819,ZMH,51.63,51.63,50.17,50.22,18259,2010-08-19,50.900,8,19
122573,20100820,ZMH,50.03,50.55,49.48,49.82,17792,2010-08-20,50.015,8,20

6) По данным из 'sp500hst.txt' при помощи Pandas расчитать средний объем торгов (обеъм торгов - в последнем столбце) при значениях 3го столбца больше 50.

In [21]:
mean_match = dataframe[dataframe["Open"] > 50].mean(numeric_only=True)

mean_match[["Volume"]]

Volume    36467.086646
dtype: float64

7) Добавить столбец с расшифровкой названия тикера используя данные из файла sp_data2.csv . В случае нехватки данных об именах тикеров корректно обработать их.

In [22]:
sp_data2_dataframe = pd.read_csv("./data/sp_data2.csv", delimiter=";", names=["Ticker", "Ticker_name", "Percent"])

sp_data2_dataframe

    Ticker      Ticker_name Percent
0     AAPL            Apple    3.6%
1     AMZN       Amazon.com    3.2%
2    GOOGL         Alphabet    3.1%
3     GOOG         Alphabet    3.1%
4     MSFT        Microsoft    3.0%
..     ...              ...     ...
500    SCG            SCANA    0.0%
501    AIZ         Assurant    0.0%
502    AYI    Acuity Brands    0.0%
503    HRB        H&R Block    0.0%
504    RRC  Range Resources    0.0%

[505 rows x 3 columns]

In [23]:
dataframe_full = pd.merge(dataframe, sp_data2_dataframe, on="Ticker")

dataframe_full

,Date,Ticker,Open,High,Low,Close,Volume,Date_normal,Daily_Mean,Month_date,Day_date,Ticker_name,Percent
0,20090821,A,25.60,25.6100,25.220,25.55,34758,2009-08-21,25.41500,8,21,Agilent Technologies,0.1%
1,20090824,A,25.64,25.7400,25.330,25.50,22247,2009-08-24,25.53500,8,24,Agilent Technologies,0.1%
2,20090825,A,25.50,25.7000,25.225,25.34,30891,2009-08-25,25.46250,8,25,Agilent Technologies,0.1%
3,20090826,A,25.32,25.6425,25.145,25.48,33334,2009-08-26,25.39375,8,26,Agilent Technologies,0.1%
4,20090827,A,25.50,25.5700,25.230,25.54,70176,2009-08-27,25.40000,8,27,Agilent Technologies,0.1%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82167,20100813,ZION,20.17,20.4300,19.840,19.89,25193,2010-08-13,20.13500,8,13,Zions Bancorp,0.0%
82168,20100816,ZION,19.81,19.9600,19.600,19.95,25914,2010-08-16,19.78000,8,16,Zions Bancorp,0.0%
82169,20100817,ZION,20.07,20.4700,19.830,20.31,31717,2010-08-17,20.15000,8,17,Zions Bancorp,0.0%
82170,20100819,ZION,19.83,20.0000,19.130,19.35,45935,2010-08-19,19.56500,8,19,Zions Bancorp,0.0%
82171,20100820,ZION,19.15,19.2700,18.810,19.14,37225,2010-08-20,19.04000,8,20,Zions Bancorp,0.0%

8) Вывести тикеры, для которых не были найдены рсшифровки.

In [24]:
dataframe_full["Ticker"][dataframe_full["Ticker_name"].isnull()]

Series([], Name: Ticker, dtype: object)

9) Рассчитать суммарный объем торгов (столбец 7) для для одинаковых значений (тикеров) из столбца 2

In [25]:
dataframe_full.groupby("Ticker")["Volume"].sum()

Ticker
A        8609336
AAPL    52261170
ABC      9006756
ABT     18975870
ADBE    17422423
          ...
XOM     66633788
XRAY     2709860
XRX     41236860
YUM     10971538
ZION    15551119
Name: Volume, Length: 342, dtype: int64

9.2) Для каждого тикера подсчитать, сколько раз он встречается.

In [26]:
dataframe_full.groupby("Ticker")["Ticker"].count()

Ticker
A       245
AAPL    241
ABC     245
ABT     245
ADBE    243
       ...
XOM     245
XRAY    239
XRX     245
YUM     245
ZION    244
Name: Ticker, Length: 342, dtype: int64

10) Расчитать среднее значение показателей для каждого из столбцов 3-6 для одинаковых значений (тикеров) из столбца 2 и сохранить в новом DataFrame

In [27]:
dataframe_full_copy = dataframe_full.copy()
dataframe_full_copy = dataframe_full_copy.groupby("Ticker")[["Open", "High", "Low", "Close"]].mean()
dataframe_full_copy

              Open        High         Low       Close
Ticker
A        30.234857   30.567838   29.866467   30.246143
AAPL    221.342427  223.556147  218.409411  221.125341
ABC      27.432122   27.683660   27.126983   27.429347
ABT      50.996776   51.365541   50.555472   50.986490
ADBE     33.357181   33.741407   32.936090   33.352469
...            ...         ...         ...         ...
XOM      66.675041   67.140401   66.092481   66.622347
XRAY     33.630628   33.958713   33.295432   33.650335
XRX       8.978078    9.109051    8.832747    8.978173
YUM      37.456898   37.816882   37.094593   37.479633
ZION     19.694057   20.171136   19.226905   19.702861

[342 rows x 4 columns]

11) Добавить в DataFrame новый столбец, содержащий объем торгов (столбец 7), нормированный по среднему значению объема торгов для данного тикера.

In [28]:
dataframe_full["Volume_normalized"] = dataframe_full.groupby('Ticker')["Volume"].transform(lambda x: x - x.mean())

dataframe_full

,Date,Ticker,Open,High,Low,Close,Volume,Date_normal,Daily_Mean,Month_date,Day_date,Ticker_name,Percent,Volume_normalized
0,20090821,A,25.60,25.6100,25.220,25.55,34758,2009-08-21,25.41500,8,21,Agilent Technologies,0.1%,-382.146939
1,20090824,A,25.64,25.7400,25.330,25.50,22247,2009-08-24,25.53500,8,24,Agilent Technologies,0.1%,-12893.146939
2,20090825,A,25.50,25.7000,25.225,25.34,30891,2009-08-25,25.46250,8,25,Agilent Technologies,0.1%,-4249.146939
3,20090826,A,25.32,25.6425,25.145,25.48,33334,2009-08-26,25.39375,8,26,Agilent Technologies,0.1%,-1806.146939
4,20090827,A,25.50,25.5700,25.230,25.54,70176,2009-08-27,25.40000,8,27,Agilent Technologies,0.1%,35035.853061
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82167,20100813,ZION,20.17,20.4300,19.840,19.89,25193,2010-08-13,20.13500,8,13,Zions Bancorp,0.0%,-38541.094262
82168,20100816,ZION,19.81,19.9600,19.600,19.95,25914,2010-08-16,19.78000,8,16,Zions Bancorp,0.0%,-37820.094262
82169,20100817,ZION,20.07,20.4700,19.830,20.31,31717,2010-08-17,20.15000,8,17,Zions Bancorp,0.0%,-32017.094262
82170,20100819,ZION,19.83,20.0000,19.130,19.35,45935,2010-08-19,19.56500,8,19,Zions Bancorp,0.0%,-17799.094262
82171,20100820,ZION,19.15,19.2700,18.810,19.14,37225,2010-08-20,19.04000,8,20,Zions Bancorp,0.0%,-26509.094262